{% extends 'base.html' %}

{% block title %}NOWHERE STORE | CUSTOMERS{% endblock %}

{% block navbar %}
    <nav>
        <a href="{% url 'MAIN' %}">Home</a>
        <a href="{% url 'Seller' %}">Seller</a>
        <a href="{% url 'product' %}">Product</a>
        <a href="{% url 'brand' %}">Brand</a>
        <a href="{% url 'order' %}">Order</a>
        <a href="{% url 'customer' %}" id="active">Customer</a>
    </nav>
{% endblock %}

{% block content %}
    <a href="{% url 'customer-add' %}" class="btn btn-outline-primary">Add New Customer</a><br>
    <section>
        <h2>Customer Information</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Cellphone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.address }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.cellphone_number }}</td>
                        <td>
                            <a href="{% url 'customer-edit' customer.id %}" class="btn btn-outline-secondary">Edit</a>
                            <a href="{% url 'customer-del' customer.id %}" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'includes/pagination.html' %}
    </section>
{% endblock %}
