{% extends 'base.html' %}

{% block title %}NOWHERE STORE | ORDERS{% endblock %}

{% block navbar %}
<nav>
    <a href="{% url 'MAIN' %}">Home</a>
    <a href="{% url 'Seller' %}">Seller</a>
    <a href="{% url 'product' %}">Product</a>
    <a href="{% url 'brand' %}">Brand</a>
    <a href="{% url 'order' %}" id="active">Order</a>
    <a href="{% url 'customer' %}">Customer</a>
</nav>
{% endblock %}

{% block content %}
    <a href="{% url 'order-add' %}" class="btn btn-outline-primary">Add New Order</a><br>
    <section>
        <h2>Order Information</h2>
        <table>
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Products</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Ordered Date</th>
                    <th>Actions</th> <!-- Add this column for actions -->
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.customer_name }}</td>
                        <td>{{ order.product_types }}</td>
                        <td>{{ order.brand_types }}</td>
                        <td>₱ {{ order.price }}</td>
                        <td>{{ order.order_date }}</td>
                        <td>
                            <!-- Add links for edit and delete if needed -->
                            <a href="{% url 'order-edit' order.id %}" class="btn btn-outline-secondary">Edit</a>
                            <a href="{% url 'order-del' order.id %}" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% include 'includes/pagination.html' %}
    </section>
{% endblock %}
