{% extends 'base.html' %}

{% block title %}NOWHERE STORE{% endblock %}

{% block navbar %}
<nav>
    <a href="{% url 'MAIN' %}">Home</a>
    <a href="{% url 'Seller' %}">Seller</a>
    <a href="{% url 'product' %}" id="active">Product</a>
    <a href="{% url 'brand' %}">Brand</a>
    <a href="{% url 'order' %}">Order</a>
    <a href="{% url 'customer' %}">Customer</a>
</nav>
{% endblock %}

{% block content %}
<a href="{% url 'product-add' %}" class="btn btn-outline-primary">Add New Product</a><br>
    <section>
        <h2>Product Information</h2>
        <table>
            <thead>
                <tr>
                    <th>Product Type</th>
                    <th>Name of Seller</th>
                    <th>Email</th>
                    <th>Date Posted</th>
                    <th>Actions</th>  <!-- Add this column for actions -->
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.product_type }}</td>
                        <td>{{ product.name_of_seller }}</td>
                        <td>{{ product.email }}</td>
                        <td>{{ product.date_post }}</td>
                        <td>
                            <!-- Add links for edit and delete if needed -->
                            <a href="{% url 'product-edit' product.id %}" class="btn btn-outline-secondary">Edit</a>
                            <a href="{% url 'product-del' product.id %}" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'includes/pagination.html' %}
    </section>
{% endblock %}
