<!-- Seller.html -->

{% extends 'base.html' %}

{% block title %}
    NOWHERE STORE
{% endblock %}

{% block navbar %}
    <nav>
        <a href="{% url 'MAIN' %}">Home</a>
        <a href="{% url 'Seller' %}"id="active">Seller</a>
        <a href="{% url 'product' %}">Product</a>
        <a href="{% url 'brand' %}">Brand</a>
        <a href="{% url 'order' %}">Order</a>
        <a href="{% url 'customer' %}">Customer</a>
    </nav>
{% endblock %}

{% block content %}
    <section>
        <!-- Existing content goes here -->

        <!-- New Compact Cards Section -->
        {% for seller in Sellers %}
            <div class="compact-card">
                <img src="{{ seller.image_url }}" alt="{{ seller.name_of_seller }}">
                <div class="compact-card-content">
                    <h2>{{ seller.name_of_seller }}</h2>
                    <p><strong>Sex:</strong> {{ seller.sex }}</p>
                    <p><strong>Birthdate:</strong> {{ seller.birthdate }}</p>
                    <p><strong>Description:</strong> {{ seller.description }}</p>
                </div>
            </div>
        {% endfor %}
        {% include 'includes/pagination.html' %}
    </section>
{% endblock %}
