/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: #161A30;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #C0C0C0;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 0 10px;
}

nav a:active {
    color: black; /* Change the color to black when the link is pressed */
}

section {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}
